USE [master]
GO
/****** Object:  Database [TiendaGamarra]    Script Date: 20/11/2024 22:38:03 ******/
CREATE DATABASE [TiendaGamarra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaGamarra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TiendaGamarra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaGamarra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TiendaGamarra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaGamarra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaGamarra]
GO
/****** Object:  User [userSQL]    Script Date: 20/11/2024 22:38:03 ******/
CREATE USER [userSQL] FOR LOGIN [userSQL] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[GenerarUsuario]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GenerarUsuario]
(
	@nombre NVARCHAR(50),
	@apellido NVARCHAR(50),
	@dni NVARCHAR(50)
)
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @usuarioGenerado NVARCHAR(50);
	SET @usuarioGenerado = LOWER(@nombre+LEFT(@apellido,1)+RIGHT(@dni,2));
	RETURN @usuarioGenerado;
END;
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[valor_hex] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[producto_id] [bigint] NULL,
	[talla_id] [bigint] NULL,
	[color_id] [bigint] NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[categoria_id] [bigint] NULL,
	[precio_compra] [decimal](10, 2) NOT NULL,
	[precio_venta] [decimal](10, 2) NOT NULL,
	[Foto_Principal] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talla]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talla](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[apellido] [nvarchar](max) NOT NULL,
	[dni] [nvarchar](50) NOT NULL,
	[correo] [nvarchar](255) NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[clave] [nvarchar](255) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[rol] [nvarchar](20) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[foto] [varbinary](max) NULL,
	[fecha_creacion] [datetime2](7) NULL,
	[fecha_reactivacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRecordados]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRecordados](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [bigint] NULL,
	[fecha_recordado] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([id], [nombre]) VALUES (1, N'Camisas')
INSERT [dbo].[Categoria] ([id], [nombre]) VALUES (2, N'Pantalones')
INSERT [dbo].[Categoria] ([id], [nombre]) VALUES (3, N'Zapatos')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([id], [nombre], [valor_hex]) VALUES (1, N'Rojo Mexicano', N'#D50032')
INSERT [dbo].[Color] ([id], [nombre], [valor_hex]) VALUES (2, N'Amarillo Oro', N'#FFCC00')
INSERT [dbo].[Color] ([id], [nombre], [valor_hex]) VALUES (3, N'Verde Esperanza', N'#00A859')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventario] ON 

INSERT [dbo].[Inventario] ([id], [producto_id], [talla_id], [color_id], [cantidad]) VALUES (48, 1, 2, 1, 10)
INSERT [dbo].[Inventario] ([id], [producto_id], [talla_id], [color_id], [cantidad]) VALUES (49, 1, 3, 2, 8)
INSERT [dbo].[Inventario] ([id], [producto_id], [talla_id], [color_id], [cantidad]) VALUES (50, 1, 4, 3, 5)
SET IDENTITY_INSERT [dbo].[Inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Talla] ON 

INSERT [dbo].[Talla] ([id], [nombre]) VALUES (1, N'XS')
INSERT [dbo].[Talla] ([id], [nombre]) VALUES (2, N'S')
INSERT [dbo].[Talla] ([id], [nombre]) VALUES (3, N'M')
SET IDENTITY_INSERT [dbo].[Talla] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosRecordados] ON 

INSERT [dbo].[UsuariosRecordados] ([id], [usuario_id], [fecha_recordado]) VALUES (1, 4, CAST(N'2024-11-15T14:49:03.0000000' AS DateTime2))
INSERT [dbo].[UsuariosRecordados] ([id], [usuario_id], [fecha_recordado]) VALUES (217, 6, CAST(N'2024-11-20T15:06:31.1566667' AS DateTime2))
INSERT [dbo].[UsuariosRecordados] ([id], [usuario_id], [fecha_recordado]) VALUES (218, 5, CAST(N'2024-11-20T21:33:08.2100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UsuariosRecordados] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__2A586E0BDD6128C9]    Script Date: 20/11/2024 22:38:03 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__9AFF8FC6627E222A]    Script Date: 20/11/2024 22:38:03 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__D87608A7824C96D0]    Script Date: 20/11/2024 22:38:03 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Usuarios__2ED7D2AE7C4F6500]    Script Date: 20/11/2024 22:38:03 ******/
ALTER TABLE [dbo].[UsuariosRecordados] ADD UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[UsuariosRecordados] ADD  DEFAULT (getdate()) FOR [fecha_recordado]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([color_id])
REFERENCES [dbo].[Color] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[Producto] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([talla_id])
REFERENCES [dbo].[Talla] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([categoria_id])
REFERENCES [dbo].[Categoria] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosRecordados]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([estado]='inactivo' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([fecha_nacimiento]<getdate()))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([rol]='vendedor' OR [rol]='admin'))
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarUsuario]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarUsuario]
    @Id BIGINT,
    @Nombre NVARCHAR(MAX),
    @Apellido NVARCHAR(MAX),
    @DNI NVARCHAR(50),
    @Correo NVARCHAR(255),
    @Usuario NVARCHAR(50),
    @Clave NVARCHAR(255),
    @Estado NVARCHAR(20),
    @Rol NVARCHAR(20),
    @FechaNacimiento DATE,
    @Foto VARBINARY(MAX) -- Cambiar a VARBINARY
AS
BEGIN
    BEGIN TRY
        UPDATE Usuarios
        SET 
            nombre = @Nombre,
            apellido = @Apellido,
            dni = @DNI,
            correo = @Correo,
            usuario = @Usuario,
            clave = @Clave,
            estado = @Estado,
            rol = @Rol,
            fecha_nacimiento = @FechaNacimiento,
            foto = @Foto
        WHERE 
            id = @Id;

        PRINT 'Usuario actualizado exitosamente';
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarUsuario]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarUsuario]
@Caracteres NVARCHAR(100)
AS
BEGIN
	SELECT * FROM Usuarios
	WHERE apellido LIKE '%'+@Caracteres+'%';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearUsuario]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearUsuario] 
    @nombre NVARCHAR(MAX),
    @apellido NVARCHAR(MAX),
    @dni NVARCHAR(50),
    @correo NVARCHAR(255),
    @usuario NVARCHAR(50),
    @clave NVARCHAR(255),
    @estado NVARCHAR(20),
    @rol NVARCHAR(20),
    @fecha_nacimiento DATE,
    @foto VARBINARY(MAX) -- Cambiar a VARBINARY
AS
BEGIN
    BEGIN TRY
        INSERT INTO Usuarios (
            nombre, 
            apellido, 
            dni, 
            correo, 
            usuario, 
            clave, 
            estado, 
            rol, 
            fecha_nacimiento, 
            foto
        ) VALUES (
            @nombre, 
            @apellido, 
            @dni, 
            @correo, 
            @usuario, 
            @clave, 
            @estado, 
            @rol, 
            @fecha_nacimiento, 
            @foto
        );
        
        PRINT 'Usuario creado exitosamente';
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DescativarCuentaTemporalmente]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DescativarCuentaTemporalmente]
@usuario NVARCHAR(50),
@mensaje NVARCHAR(255) OUTPUT
AS
BEGIN
    -- Declarar variable para la fecha de reactivación
    DECLARE @fechaReactivacion DATETIME;

    -- Actualizar el estado y calcular la fecha de desactivación
    UPDATE Usuarios
    SET estado = 'inactivo',
	fecha_reactivacion = DATEADD(HOUR, 24, GETDATE())
    WHERE usuario = @usuario;
    -- Formatear la fecha de salida
    SET @mensaje = 'Su cuenta ha sido bloqueada por 24 horas. Será reactivada el: ' 
                   + CONVERT(NVARCHAR, @fechaReactivacion, 103) + ' ' -- Día/Mes/Año
                   + LEFT(CONVERT(NVARCHAR, @fechaReactivacion, 108), 5); -- Hora y minutos (sin segundos)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuario]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarUsuario]
 @Id BIGINT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Usuarios WHERE id = @Id)
    BEGIN
        DELETE FROM Usuarios WHERE id = @Id;
    END
    ELSE
    BEGIN
        PRINT 'No se encontró el usuario con el ID proporcionado';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuarioRecordado]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EliminarUsuarioRecordado]
@usuario NVARCHAR(50)
AS
BEGIN
	DECLARE @usuarioID BIGINT;
	-- Obtener el ID del usuario a partir del nombre de usuario
	SELECT @usuarioID = id
	FROM Usuarios
	WHERE usuario = @usuario
	-- Verificar si se encontró un usuario
    IF @usuarioId IS NOT NULL
	BEGIN
		DELETE FROM UsuariosRecordados
		WHERE usuario_id = @usuarioID;
	END
	ELSE
	BEGIN
		-- Manejo de errores si no se encuentra el usuario
        RAISERROR('Usuario no encontrado', 16, 1);
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerarUsuarioUnico]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GenerarUsuarioUnico]
    @nombre NVARCHAR(50),
    @apellido NVARCHAR(50),
    @dni NVARCHAR(50),
    @usuarioGenerado NVARCHAR(50) OUTPUT
AS
BEGIN
	DECLARE @usuarioBase NVARCHAR(50) = dbo.GenerarUsuario(@nombre, @apellido, @dni);
	DECLARE @Contador INT = 1;

	--Verificar si existe
	WHILE EXISTS(SELECT 1 FROM Usuarios WHERE usuario = @usuarioBase)
	BEGIN
		SET @usuarioBase = dbo.GenerarUsuario(@nombre, @apellido, @dni) + CAST(@contador AS NVARCHAR(10));
        SET @contador = @contador + 1
	END
	--Asignar el usuario generado a la variable de salida
	SET @usuarioGenerado=@usuarioBase
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ImagenesPrueba]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ImagenesPrueba]
@id BIGINT,
@foto VARBINARY(MAX)
AS
BEGIN
	UPDATE Producto
	SET Foto_Principal = @foto
	WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarUsuarioRecordado]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarUsuarioRecordado]
    @usuario NVARCHAR(50)
AS
BEGIN
    DECLARE @usuarioId BIGINT;

    -- Obtener el ID del usuario a partir del nombre de usuario
    SELECT @usuarioId = id
    FROM Usuarios
    WHERE usuario = @usuario;

    -- Verificar si se encontró un usuario
    IF @usuarioId IS NOT NULL
    BEGIN
        -- Insertar en UsuariosRecordados
        INSERT INTO UsuariosRecordados (usuario_id)
        VALUES (@usuarioId);
    END
    ELSE
    BEGIN
        -- Manejo de errores si no se encuentra el usuario
        RAISERROR('Usuario no encontrado', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerColoresPorIdProducto]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerColoresPorIdProducto]
@id BIGINT
AS
BEGIN
	SELECT c.id, c.nombre, c.valor_hex
	FROM Color C
	WHERE C.id IN (
		SELECT I.color_id
		FROM Inventario I
		WHERE I.producto_id = @id
		AND I.cantidad > 0
	);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerProDisponibles]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerProDisponibles]
AS
BEGIN
	SELECT 
		P.id,
		P.nombre,
		P.descripcion,
		P.categoria_id,
		P.precio_compra,
		P.precio_venta,
		P.Foto_Principal
	FROM 
		Producto P
	INNER JOIN 
		Inventario I ON P.id = I.producto_id
	WHERE 
		I.cantidad > 0
	GROUP BY 
		P.id,P.nombre, P.descripcion, P.categoria_id, P.precio_compra, P.precio_venta, P.Foto_Principal;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerTallasPorIdProducto]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerTallasPorIdProducto]
@id BIGINT
AS
BEGIN
	SELECT t.id, t.nombre
	FROM Talla T
	WHERE T.id IN (
		SELECT I.talla_id
		FROM Inventario I
		WHERE I.producto_id = @id
		AND I.cantidad > 0
	);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerTodosLosProductos]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerTodosLosProductos]
AS
BEGIN
	SELECT P.id,P.nombre,P.descripcion,P.precio_compra,precio_venta
	FROM Producto P
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerTodosLosUsuarios]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerTodosLosUsuarios]
AS
BEGIN
    SELECT 
        id,
        nombre,
        apellido,
        dni,
        correo,
        usuario,
        estado,
		clave,
        rol,
        fecha_nacimiento,
        foto,
        fecha_creacion
    FROM Usuarios;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerUsuarioPorId]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerUsuarioPorId]
    @Id BIGINT
AS
BEGIN
    SELECT 
        id,
        nombre,
        apellido,
        dni,
        correo,
        usuario,
        clave,
        estado,
        rol,
        fecha_nacimiento,
        foto,
        fecha_creacion
    FROM Usuarios
    WHERE id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerUsuariosRecordados]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerUsuariosRecordados]
AS
BEGIN
	SELECT U.usuario
	FROM UsuariosRecordados UR
	INNER JOIN Usuarios U ON UR.usuario_id=U.id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OptenerCategoriaPorId]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OptenerCategoriaPorId]
@id BIGINT
AS
BEGIN
	SELECT nombre
	FROM Categorias
	WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ReactivarCuenta]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReactivarCuenta]
@usuario NVARCHAR(50)
AS
BEGIN
    -- Reactiva la cuenta si cumple las condiciones
    UPDATE Usuarios
    SET estado = 'activo'
    WHERE usuario = @usuario
    AND estado = 'inactivo'
    AND fecha_reactivacion <= GETDATE();

    -- Opcional: Devuelve un mensaje indicando si la cuenta fue reactivada
    IF @@ROWCOUNT > 0
        PRINT 'La cuenta ha sido reactivada.'
    ELSE
        PRINT 'No se pudo reactivar la cuenta. Verifique las condiciones.';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TallasParaEsteColor]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TallasParaEsteColor]
    @idColo BIGINT,
    @idProducto BIGINT
AS
BEGIN
    SELECT DISTINCT T.id, T.nombre
    FROM Talla T
    INNER JOIN Inventario I ON T.id = I.talla_id
    WHERE I.color_id = @idColo
      AND I.producto_id = @idProducto
      AND I.cantidad > 0;  -- Aseguramos que haya cantidad disponible
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_validarCredenciales]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_validarCredenciales]
@Usuario NVARCHAR(50),
@Clave NVARCHAR(255)
AS
BEGIN
	SELECT id,nombre,apellido,correo,estado,rol,foto
	FROM Usuarios
	WHERE usuario = @Usuario
		AND clave = @Clave
		AND estado = 'activo';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarAdmin]    Script Date: 20/11/2024 22:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_VerificarAdmin]
@usuario NVARCHAR(50),
@clave NVARCHAR(255)
AS
BEGIN
	SELECT rol FROM Usuarios
	WHERE usuario = @usuario AND clave = @clave;
END
GO
USE [master]
GO
